* {
    background-color: #f6f6f6;
    font-family: 'Sanchez', serif;
}

/* Title Page */
.page h1 {
    font-family: 'League Spartan', sans-serif;
}

.nav-wrapper {
  position: fixed;
  top:0;
  width:100vw;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5%;
  margin-right: 3%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 100vh;
}

.title-text {
  max-height: 100%;
  margin: 5%
}

#title-header {
  font-size: 5rem;
}

.title-image {
  margin: 10%
}
.rs {
  height: 30rem;
  width: calc(33.33%-5px);
  max-height: 50%;
}

/* About Me Page */
.text-wrapper {
  width: 33%
}
.about-me-text p {
    background-color: rgba(255,255,255,0.64);
    font-size: 1.5rem;
    max-height: 50%;
}

/* Project Page */
    /* Container styles */
    .project-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        background-color: #f5f5f5;
      }
  
      /* Project card styles */
      .project-card {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: calc(33.33% - 20px);
        transition: transform 0.2s ease;
      }
  
      .project-card:hover {
        transform: translateY(-5px);
      }
  
      .project-card img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 10px;
      }
  
      .project-card h3 {
        margin: 0 0 10px;
        font-size: 18px;
      }
  
      .project-card p {
        margin: 0;
        font-size: 14px;
        color: #777;
      }

      @media screen and (max-width: 1000px) {
        .container {
          flex-direction: column;
        }
        .text-wrapper {
          width: 99%
        }

        .title-subheader {
          text-align: center;
        }
      }

